// COLORS
$primary-color: #0096ad;
$secondary-color: #00c05d;

$white-color: #303030;

$dark-grey: #4f4f4f;
$light-grey: #00c05d;

$dark-blue-text: #cdcdcd; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
